{{! views/tous-details.hbs }}
<a href='/'>Go back Home</a>

<h2>Details for the Tour</h2>

<div>
  <h4>Name: {{tour.name}}</h4>
  <p>Description: {{tour.description}}</p>
  <img src='{{tour.image}}' alt='' />
  <p>Tour guide: {{tour.tourGuide.name}}</p>
  {{#if isAdmin}}
    <a href="/tours/{{tour._id}}/edit">Update Tour</a>
    <a href="/tours/{{tour._id}}/delete">Delete</a>
  {{/if}}
  {{#if isUser}}
    <a href="/tours/{{tour._id}}/book">Book</a>
  {{/if}}

</div>